<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/txmonitor/src/main/java/goatthrower/txmonitor/StartTxMonitor.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="goatthrower.txmonitor.StartTxMonitor"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="txmonitor"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:txmonitor/target/eclipse/run/bin}"/>
</launchConfiguration>
